body{
    background-position: center;
    background-color: #A1DAB1;
}

#SECTION_1 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 733px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1349px;
    background: #A1DAB1 none repeat scroll 0% 0%;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
    padding: 100px 0px 10px;
}/*#SECTION_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 543px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1170px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 0px 89.5px;
    outline: rgb(128, 128, 128) none 0px;
    padding: 0px 15px;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(128, 128, 128);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1px;
    content: ' ';
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1px;
    content: ' ';
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 150px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1140px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
    padding: 0px 0px 75px;
}/*#DIV_3*/

#H2_4 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 50px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    width: 348px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 45px/40px Montserrat, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#H2_4*/

#H6_5 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 25px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 1140px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/25px Lato, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H6_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 393px;
    opacity: 0.9999999403953552;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1170px;
    z-index: 0;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 0px -15px;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_6*/

#DIV_6:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(128, 128, 128);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1px;
    content: ' ';
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1px;
    content: ' ';
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_6:before*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    float: left;
    height: 393px;
    min-height: 1px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1170px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
    padding: 0px 15px;
}/*#DIV_7*/

#DIV_8 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 393px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1140px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_8*/

#DIV_9 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 354px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1140px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
    overflow: hidden;
}/*#DIV_9*/

#DIV_10 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 354px;
    left: 0px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 4560px;
    z-index: 0;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
    transition: all 0.8s ease 0s;
}/*#DIV_10*/

#DIV_10:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(128, 128, 128);
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    visibility: hidden;
    width: 4560px;
    content: '.';
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/0px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_10:after*/

#DIV_11, #DIV_22, #DIV_33, #DIV_44, #DIV_55, #DIV_66 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    float: left;
    height: 354px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 380px;
    z-index: 0;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_11, #DIV_22, #DIV_33, #DIV_44, #DIV_55, #DIV_66*/

#DIV_12, #DIV_23, #DIV_34, #DIV_45, #DIV_56, #DIV_67 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 328px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 354px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(128, 128, 128);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 13px;
    outline: rgb(128, 128, 128) none 0px;
    padding: 25px;
}/*#DIV_12, #DIV_23, #DIV_34, #DIV_45, #DIV_56, #DIV_67*/

#DIV_13, #DIV_24, #DIV_35, #DIV_46, #DIV_57, #DIV_68 {
    box-sizing: border-box;
    color: rgb(144, 144, 144);
    height: 175px;
    text-align: left;
    text-decoration: none solid rgb(144, 144, 144);
    width: 304px;
    border: 0px none rgb(144, 144, 144);
    font: normal normal normal 15px/25px Lato, sans-serif;
    outline: rgb(144, 144, 144) none 0px;
}/*#DIV_13, #DIV_24, #DIV_35, #DIV_46, #DIV_57, #DIV_68*/

#DIV_14, #DIV_25, #DIV_36, #DIV_47, #DIV_58, #DIV_69 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 73px;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 304px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_14, #DIV_25, #DIV_36, #DIV_47, #DIV_58, #DIV_69*/

#DIV_15, #DIV_48 {
    box-sizing: border-box;
    color: rgb(233, 102, 86);
    float: left;
    height: 86px;
    text-align: left;
    text-decoration: none solid rgb(233, 102, 86);
    width: 45px;
    border: 0px none rgb(233, 102, 86);
    font: normal normal normal 45px/80px Lato, sans-serif;
    outline: rgb(233, 102, 86) none 0px;
}/*#DIV_15, #DIV_48*/

#I_16, #I_49 {
    box-sizing: border-box;
    color: rgb(233, 102, 86);
    text-align: left;
    text-decoration: none solid rgb(233, 102, 86);
    vertical-align: middle;
    border: 0px none rgb(233, 102, 86);
    font: italic normal normal 45px/80px Lato, sans-serif;
    outline: rgb(233, 102, 86) none 0px;
}/*#I_16, #I_49*/

#I_16:before, #I_49:before {
    box-sizing: border-box;
    color: rgb(233, 102, 86);
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(233, 102, 86);
    content: '';
    border: 0px none rgb(233, 102, 86);
    font: normal normal normal 45px/45px '712-icon-fonts';
    outline: rgb(233, 102, 86) none 0px;
}/*#I_16:before, #I_49:before*/

#DIV_17, #DIV_50 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    float: left;
    height: 65px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 119px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 0px 0px 0px 18px;
    outline: rgb(128, 128, 128) none 0px;
    padding: 15px 0px 0px;
}/*#DIV_17, #DIV_50*/

#A_18, #A_29, #A_40, #A_51, #A_62, #A_73 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    text-align: left;
    text-decoration: none solid rgb(64, 64, 64);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(64, 64, 64);
    font: normal normal normal 14px/25px 'Homemade Apple', serif;
    outline: rgb(64, 64, 64) none 0px;
    transition: all 0.7s ease 0s;
}/*#A_18, #A_29, #A_40, #A_51, #A_62, #A_73*/

#DIV_19, #DIV_52 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 25px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 119px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 13px/25px Lato, sans-serif;
    margin: -3px 0px 0px;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_19, #DIV_52*/

#DIV_20, #DIV_31, #DIV_42, #DIV_53, #DIV_64, #DIV_75 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    float: right;
    height: 73px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 73px;
    border: 3px solid rgb(246, 246, 246);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
    overflow: hidden;
}/*#DIV_20, #DIV_31, #DIV_42, #DIV_53, #DIV_64, #DIV_75*/

#IMG_21, #IMG_32, #IMG_43, #IMG_65, #IMG_76 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 71px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    vertical-align: middle;
    width: 71px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#IMG_21, #IMG_32, #IMG_43, #IMG_65, #IMG_76*/

#DIV_26, #DIV_59 {
    box-sizing: border-box;
    color: rgb(52, 210, 147);
    float: left;
    height: 86px;
    text-align: left;
    text-decoration: none solid rgb(52, 210, 147);
    width: 45px;
    border: 0px none rgb(52, 210, 147);
    font: normal normal normal 45px/80px Lato, sans-serif;
    outline: rgb(52, 210, 147) none 0px;
}/*#DIV_26, #DIV_59*/

#I_27, #I_60 {
    box-sizing: border-box;
    color: rgb(52, 210, 147);
    text-align: left;
    text-decoration: none solid rgb(52, 210, 147);
    vertical-align: middle;
    border: 0px none rgb(52, 210, 147);
    font: italic normal normal 45px/80px Lato, sans-serif;
    outline: rgb(52, 210, 147) none 0px;
}/*#I_27, #I_60*/

#I_27:before, #I_60:before {
    box-sizing: border-box;
    color: rgb(52, 210, 147);
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(52, 210, 147);
    content: '';
    border: 0px none rgb(52, 210, 147);
    font: normal normal normal 45px/45px '712-icon-fonts';
    outline: rgb(52, 210, 147) none 0px;
}/*#I_27:before, #I_60:before*/

#DIV_28, #DIV_61 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    float: left;
    height: 65px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 90px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 0px 0px 0px 18px;
    outline: rgb(128, 128, 128) none 0px;
    padding: 15px 0px 0px;
}/*#DIV_28, #DIV_61*/

#DIV_30, #DIV_63 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 25px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 90px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 13px/25px Lato, sans-serif;
    margin: -3px 0px 0px;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_30, #DIV_63*/

#DIV_37, #DIV_70 {
    box-sizing: border-box;
    color: rgb(58, 176, 226);
    float: left;
    height: 86px;
    text-align: left;
    text-decoration: none solid rgb(58, 176, 226);
    width: 45px;
    border: 0px none rgb(58, 176, 226);
    font: normal normal normal 45px/80px Lato, sans-serif;
    outline: rgb(58, 176, 226) none 0px;
}/*#DIV_37, #DIV_70*/

#I_38, #I_71 {
    box-sizing: border-box;
    color: rgb(58, 176, 226);
    text-align: left;
    text-decoration: none solid rgb(58, 176, 226);
    vertical-align: middle;
    border: 0px none rgb(58, 176, 226);
    font: italic normal normal 45px/80px Lato, sans-serif;
    outline: rgb(58, 176, 226) none 0px;
}/*#I_38, #I_71*/

#I_38:before, #I_71:before {
    box-sizing: border-box;
    color: rgb(58, 176, 226);
    speak: none;
    text-align: left;
    text-decoration: none solid rgb(58, 176, 226);
    content: '';
    border: 0px none rgb(58, 176, 226);
    font: normal normal normal 45px/45px '712-icon-fonts';
    outline: rgb(58, 176, 226) none 0px;
}/*#I_38:before, #I_71:before*/

#DIV_39, #DIV_72 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    float: left;
    height: 65px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 118px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 0px 0px 0px 18px;
    outline: rgb(128, 128, 128) none 0px;
    padding: 15px 0px 0px;
}/*#DIV_39, #DIV_72*/

#DIV_41, #DIV_74 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 25px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    width: 118px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 13px/25px Lato, sans-serif;
    margin: -3px 0px 0px;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_41, #DIV_74*/

#IMG_54 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 71px;
    text-align: left;
    text-decoration: none solid rgb(128, 128, 128);
    vertical-align: middle;
    width: 71px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#IMG_54*/

#DIV_77 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 29px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1140px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_77*/

#DIV_78 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    height: 29px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 1140px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_78*/

#DIV_79, #DIV_81 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 26px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal 14px/25px Lato, sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}/*#DIV_79, #DIV_81*/

#SPAN_80 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    cursor: pointer;
    display: block;
    height: 12px;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 12px;
    background: rgb(136, 110, 14) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(128, 128, 128);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 5px 7px;
    outline: rgb(128, 128, 128) none 0px;
}/*#SPAN_80*/

#SPAN_82 {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    cursor: pointer;
    display: block;
    height: 12px;
    opacity: 0.5;
    text-align: center;
    text-decoration: none solid rgb(128, 128, 128);
    width: 12px;
    z-index: 0;
    background: rgb(136, 110, 14) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(128, 128, 128);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 14px/25px Lato, sans-serif;
    margin: 5px 7px;
    outline: rgb(128, 128, 128) none 0px;
}/*#SPAN_82*/s