form#payment-form {
	background: #A1DAB1;
	padding: 20px;
	width: 400px;
	border-radius: 5px;
	margin: auto;
  }
  form#payment-form fieldset {
	border: none;
	margin-bottom: 10px;
  }
  form#payment-form fieldset:last-of-type {
	margin-bottom: 0;
  }
  form#payment-form div {
	background: #A1DAB1;
	border: 2px solid #ffffff;
	margin-bottom: 2px;
	border-radius: 5px;
	padding: 5px 10px;
  }
  form#payment-form label {
	width: 110px;
	font-size: 14px;
	display: inline-block;
  }
  form#payment-form input, form#payment-form textarea, form#payment-form select {
	border: none;
	border-radius: 3px;
	padding: 5px;
	width: 200px;
  }
  form#payment-form button {
	border: none;
	color: white;
	background: #394313;
	border-radius: 20px;
	padding: 10px 25px;
  }
  form#payment-form legend {
	font-size: 17px;
	font-weight: bolder;
  }
  form#payment button:hover {
	background: #1e2506;
	cursor: pointer;
  }
	